<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="../js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron">
    <h1>Jesus is King!</h1>
    <p>
      <span class="badge badge-secondary">Revelation 19:16</span><br />
       On his robe and on his thigh he has a name written, King of kings and Lord of lords.
    </p>
  </div>
  <div style="padding:10px;">
    <div>
      <button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Salvation</button>

      <div id="demo" class="collapse">
        <span class="badge badge-secondary">John 3:16</span><br />
        For God so loved the world,[a] that he gave his only Son, that whoever believes in him should not perish but have eternal life.
      </div>
    </div>
  </div>
</body>
</html>
